@font-face {
  font-family: "Instrument Sans";
  src: url("./fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Italic";
  src: url("./fonts/InstrumentSans-Italic-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Meie Script";
  src: url("./fonts/MeieScript-Regular.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}



:root {
	--spacing: 3rem;
    --color-bl:#000000;
    --color-wh:#ffffff;

	font-family: 'Instrument Sans';
	font-size: 125%;
}

@media (width > 600px) {
	:root {
		font-size: 150%;
		--spacing: 2rem;
	}
}
@media print {
    :root{
        --color-bl:#000000;
        --color-wh:#ffffff;
    }
}



header{
    /* position:relative; */
    /* z-index:1; */
    
}
body {
    min-height: 150vh;
    
    position:relative;
}


h1 {
	font-family:"meie script";
    font-size: 2.5rem;
    text-align: center;


	@media (width > 800px) {
	font-size: 4rem;
	}
}



main {
    background-color: aqua;
    /* padding-block: 3rem; */
    padding-inline:1.25rem;
    margin-block:2rem;
    border-radius: 25rem;
    
    
    
}
article{
    padding-block: 3rem;
    position:relative;
    text-wrap: pretty;

    
}



main h1{
    
}
h2 {
    /* display:; */
	font-size: 1rem;
	font-weight: lighter;
    text-align: center;
    justify-self: center;
    font-weight: 600;
    line-height: 120%;
    width:80%;

	@media (width > 800px) {
	font-size: 3rem;
	}
}
h2 span{
    font-family:"meie script";
    font-size: 1.75rem;
}

p {
	margin-block-start: calc(2x * var(--spacing));
}

#project-title{
    margin-block-start:3rem;
}
.nav-list{
    display:flex;
    /* flex-direction:row; */
    justify-content: space-between;
}
.nav-links{
    display:flex;
    gap: 1rem;
}