@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kristi&family=Neonderthaw&family=Overpass+Mono:wght@300..700&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');


@font-face {
  font-family: "Tapestry";
  src: url("./fonts/Tapestry-Regular.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./index.html") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
	--spacing: 3rem;
    --color-bl:#222222;
    --color-wh:#f7f7f7;
	font-family: "Figtree";
	font-size: 125%;
}

@media (width > 600px) {
	:root {
		font-size: 150%;
		--spacing: 2rem;
	}
}

@media print {
    @page {
    	margin: 1in; 
  	}
    
    
	:root{
        --color-bl:#222222;
        --color-wh:#f7f7f7;
		filter: grayscale(100%);
		font: 'Figtree', 'Helvetica';
    }
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Printing */

	.gradient {
		display: none !important;
	}

	.site-header {
		color: black;
		align-content: center;
	}
	
	/* So much trial and error and so frustrating, referenced class material https://typography-interaction-2526.github.io/topic/responsive/#other-media-features */
	.project-title {
		color: black;
	}

	.project-sub {
		line-height: .5rem;
	}

	.footer-text {
		display: none !important;
	}

	footer {
		display: none !important;
	}

	.quote03 {
		page-break-inside: avoid;
        margin-block-end:0;
	}

	.quote03 blockquote {
		font-size: 1rem !important;
		line-height: 1rem !important;
		page-break-inside: avoid;
	}

	.quote04 blockquote {
		font-size: 1rem !important;
		line-height: 1rem !important;
		page-break-inside: avoid;
	}
    .time{
        display: none !important;
    }
    .cite-group{
        margin-block:0;
    }
    .grad-container{
        display: none !important;
    }

	/* .title-text {
		margin-block-start: -6rem;
	} */
	
	/* h4 {
		padding-block-end: -4rem;
	} */

	/* .cite-text {
		margin-block-end: -3rem;
	} */
    #title02{
        margin-block-start:1rem;
    }
	#special-print-par {
		margin-block-end: 1rem;
	}

	/* Title is overlaping text above and this seems to push it down without effecting everything  */
	#special-print-head01 {
		margin-block-start: 1rem;
	}

	/* quote is too close to H4 Meaning and Mood */
	#special-print-head02 { 
		break-before: page;
		/* padding-block-start: 3.6rem; */
	}
    

}

header{
	color: var(--color-wh);
	min-height: 100vh;
}

body {
    background: var(--color-wh);
    max-height: 150vh;
	font-size: .85rem;
	line-height: 1.25rem;
    position:relative;	
}

main {
	color: var(--color-bl);
}

h1 {
	font-family: 'Kristi';
	letter-spacing: 0.5rem;
    font-size: 8rem;
    text-align: center;
    font-weight:800;
	margin-inline: auto;
}

.title-circle{
    margin-inline:auto;

    align-content: center;
	max-width: 75vw;
	text-align: center;

	#project-sub {
		/* max-width: 90vw; */
		text-align: center;
		font-size: 1rem;
		line-height: 1.25rem;
		font-family: "Figtree";
		font-weight: 300;
		padding-block-start: 1rem;
        padding-inline:auto;

		@media (width > 600px) {
		font-size: 1rem;
		padding-block-start: 1rem;
		line-height: 1.25rem;
		text-wrap: balance;
		font-weight: 300;
		}

		@media (width > 800px) {
		font-size: 1.5rem;
		padding-block-start: 1rem;
		line-height: 2rem;
		text-wrap: balance;
		font-weight: 300;
		}

		@media (width > 1300px) {
		font-size: 1.5rem;
		line-height: 2rem;
		padding-inline: 7rem;
		text-wrap: balance;
		font-weight: 300;
		}
	}

	#project-title{
		color: var(--color-wh);
		margin-block-start: 13rem;
		font-size: 2rem;
		padding-block-end: 0.5rem;
		font-weight: 200;
		letter-spacing: 0.2rem;

        @media (width < 600px) {
		font-size: 2rem;
        margin-block-start: 16rem;
		letter-spacing: 0.2rem;
		/* padding-block-start: 1rem; */
		font-weight: 200;
		}

		@media (width > 600px) {
		font-size: 2rem;
		letter-spacing: 0.2rem;
		/* padding-block-start: 1rem; */
		font-weight: 200;
		}

		@media (width > 800px) {
		font-size: 3rem;
		letter-spacing: 0.2rem;
		padding-block-end: 0.5rem;
		font-weight: 200;
		}

		@media (width > 1300px) {
		font-size: 5rem;
		letter-spacing: 0.2rem;
		margin-block-start: 10rem;
		padding-block-end: 3rem;
		font-weight: 200;
		}
}

    .authors{
        margin-block-start: 5rem;

        @media (width < 600px) {
		font-size: 2rem;
        margin-block-start: 16rem;
		/* padding-block-start: 1rem; */
		font-weight: 200;
		}
    }
	#author {
		margin-block-start: 10rem;
        
		text-align: center;
		font-size: .75rem;
		font-weight: 300;

        @media (width < 600px){
            margin-block-end:.5rem;
        }
	}

	.names {
		font-size: .75rem;
		font-weight: 300;
	}
	#names {
        
    	font-size: .75rem;
		font-weight: 300;
		text-decoration: underline;

        @media (width < 600px) {
            margin-block-start:.5rem;
        }
	}

	.art-link {
    	font-size: .75rem;
		font-weight: 300;
		text-decoration: underline;
	}

}

main {
    margin-block-end:2rem;
}

article {
    padding-block-end: 7rem;
    padding-inline: 1rem;
    text-wrap: pretty;
    bottom: 30vh;
	top:40vh;
    z-index:10;
    
	@media (width > 800px) {
	padding-inline: 3rem;
	}
}


h2 {
	font-weight: bold;
	font-style: italic;
	font-size: 1.5rem;
    line-height: 105%;
	font-weight: 500;
	text-align: left;
    width:90%;
	text-wrap: pretty;
	padding-block: 0.5rem;
	
	@media (width > 800px) {
	font-size: 2rem;
	text-wrap: pretty;
	text-align: left;
	padding-block: 1rem;
	}

}

h3 {
	font-size: 1rem;
	text-align: left;
}

.title-circle h3{
    font-size: 1rem;
    line-height:1.75rem;

    @media (width > 800px) {
	font-size: 1.5rem;
	text-wrap: pretty;
	text-align: left;
	}
}

p {
	margin-block-start: calc(2x * var(--spacing));
}

.site-header{
    width:100vw;
	padding-block-start:1rem;
	padding-inline: 1rem;
    z-index:0;
    background: linear-gradient(to bottom, #AF184D,#4b2475, #FF5802, #f7f7f7);
	background-size: 500% 500%;
	animation: blend 10s ease infinite;
    text-align:center;
}

/* Animation link https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes blend {
	0% {
		background-position: 0% 25%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 25%;
	}
} 

.art-container{
	bottom: 30vh;
}

footer{
	min-height: 100vh;
    background: linear-gradient(to top, #AF184D,#252475, #FF5802, #f7f7f7);
    justify-content: flex-end;
    position:relative;
}

.footer-text{
	display:flex;
	justify-content: center;
	width: 100vw;
	padding-inline: 1rem;
	padding-block-start:1rem;
	padding-block-end:1rem;
    position:absolute;
	z-index:0;
	margin-block-start: 20rem;
	color: var(--color-wh);
	bottom:0;
}

.nav-list{
    display:flex;
    justify-content: space-between;
}

.nav-links{
    display:flex;
    gap: 1rem;
	align-items: center;
}

.cite-group{
    display:grid;
    grid-template-columns: 1fr;
    margin-block:1rem;
    position:relative;
    min-height: 25vh;
    align-items:start;

    @media (width > 800px) {
	grid-template-columns: 1fr 2.5fr;
    column-gap: 2rem;
	}
}

.title-text{
    display:grid;
    grid-template-columns: 1fr ;

    @media (width > 800px) {
    border-block-start: 2px solid var(--color-bl);
    padding-block-start: 1rem;
    column-gap: 1rem;	
    }
 }

.sec-title {
    z-index:0;
	position:sticky;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.5rem;
    position:sticky;
    top: 7rem;
    padding-block: 1rem 2rem;
    width:100%;
    min-height:max-content;
    background: linear-gradient(to top,#f7f7f7 0%, #f7f7f7 50%, #f7f7f7 100%, #f7f7f7 100%);    
    backdrop-filter: blur(5px);
    mask: linear-gradient(to bottom, #f7f7f7, #f7f7f7, #f7f7f7, #f7f7f7, transparent);

    h4{
        font-size: 1.5rem;
    }

    @media (width > 800px) {
    	top:0rem;
	}
}

.title-container {
	display:grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
	row-gap:0;
    margin-block:1rem 0;
	text-align: center;

    @media (width > 800px) {
	grid-template-columns: 1fr;
	}
}

.empty {
	opacity: 0;
}
.grad-container{
    
    position:sticky;
    min-height: 5em;
    min-width: 15em;
     top:0;
     display:flex;
     flex-direction: column;
}
.gradient{
    z-index:2;
	position:sticky;
    min-height: 5em;
    min-width: 15em;
    border-radius:2%;
    top:0;
    font-weight: 600;
    letter-spacing: -7px;
    /* margin-block-end: 3rem; */
	background-color: white;

	p {
        height: 1em;
 		text-align:center;
		color: var(--color-wh);
		font-size: 3rem;
        line-height: 5rem;

	@media (width > 800px) {
    line-height: 10rem;
	font-size: 5rem;
	}
	}
}

#g01{
    background: linear-gradient(to bottom, #256E81,#010D28);
    position:sticky;
    min-height: 5rem;
    top:0;

	/* p {
		text-align: center;
		color: var(--color-wh);
		font-size: 3rem;
	} */

	

    @media (width > 800px) {
    min-height: 10rem;
	}
}

.time {
    z-index:2;
	color: black;
    background:var(--color-wh);
    position:sticky;
    min-height: 5em;
    min-width: 15em;
     top:50;
    padding-block:.75rem 0;
    /* background-color: var(--color-wh); */
	font-size: 0.6rem;
	letter-spacing: 0.03rem;
	text-align: left;
	/* padding-block-start: 1rem; */
    /* margin-block-start: 1rem; */
}

#g02 {
	background: linear-gradient(to bottom, #F4836D, #D66195, #953D7A, #652D66, #301A4B);
	position:sticky;
    min-height: 5rem;
    top:0;

	.time {
	color: black;
	font-size: 0.6rem;
	letter-spacing: 0.03rem;
	text-align: left;
	padding-block-start: 1rem;
	}
	
	@media (width > 800px) {
    min-height: 10rem;
	}
}

#g03 {
	background: linear-gradient(to bottom, #DF291E,#FC6337,#FC7641,#9F5D6E,#404974);
	position:sticky;
    min-height: 5rem;
    top:0;

	.time {
	color: black;
	font-size: 0.6rem;
	letter-spacing: 0.03rem;
	text-align: left;
	padding-block-start: 1rem;
	}

    @media (width > 800px) {
    min-height: 10rem;
	}
}

#g04 {
	background: linear-gradient(to bottom, #9aecff,#26B1D0,#29618E,#242F4D);
	position:sticky;
    min-height: 5rem;
    top:0;

	.time {
	color: black;
	font-size: 0.6rem;
	letter-spacing: 0.03rem;
	text-align: left;
	padding-block-start: 1rem;
	}

    @media (width > 800px) {
    min-height: 10rem;
	}
}

.citation{
    font-size: 0.5rem;
    line-height: 110%;
    text-align: left;
    margin-block-start:.25rem;
    order:3;

    @media (width > 800px) {
	order:1;
	}
}

.cite-text{
    padding-block-end:2rem;

	p {
		margin-block-end: 1rem;
	}

    a {
        color:#FF5802;
        padding:2.5px;
    }

    .link01:hover{
        background:linear-gradient(to bottom, #256E81,#010D28);
        color: var(--color-wh);
        border-radius:5px;
    }

    .link02:hover{
        background:linear-gradient(to bottom, #F4836D, #D66195, #953D7A, #652D66, #301A4B);
        color: var(--color-wh);
        border-radius:5px;
    }

    .link03:hover{
        background:linear-gradient(to bottom,#FC6337,#FC7641,#9F5D6E,#404974);
        color: var(--color-wh);
        border-radius:5px;
    }

    .link04:hover{
        background:linear-gradient(to bottom,#26B1D0,#29618E,#242F4D);
        color: var(--color-wh);
        border-radius:5px;
    }
}

.cite-text a{
    text-decoration: underline;
}

/* .cite-quote{
    font-size: 1rem;
	font-weight: bold;
	line-height: 1.25rem;
	padding-inline-start: 10rem;
    order:1;

    @media (width > 800px) {
	order:3;
	}
} */

.cite{
    font-style: italic;
    line-height: .85rem;
    font-size: .75rem;
    font-weight: 250;
	padding-block-start: 1rem;
}

.quote03 {
	border-inline-start: 10px solid transparent;
	border-image: linear-gradient(#DF291E,#FC6337,#FC7641,#9F5D6E,#404974) 1;
	padding-inline-start: 1.5rem;
	margin-inline-start: 2rem;
	margin-block: 2rem;
}

.quote03 blockquote {
	font-size: 1.3rem;
	line-height: 1.6rem;
	font-weight: 500;
	color: var(--color-bl);
	background-clip:text;
	text-align: left;
}

.quote04 {
	border-inline-start: 10px solid transparent;
	border-image: linear-gradient(#26B1D0,#29618E,#242F4D) 1;
	padding-inline-start: 1.5rem;
	margin-inline-start: 2rem;
	margin-block: 2rem;
}

.quote04 blockquote{
    font-size: 1.3rem;
	line-height: 1.6rem;
    font-weight: 500;
	color: var(--color-bl);
    background-clip:text;
}

#lastquote {
	margin-block-end: 3rem;
	padding-inline-end: 2rem;
}